.cardItem {
  width: 380px;
  height: 460px;
  padding: 20px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  position: relative;
}
.cardImage {
  margin: 0 auto;
}
.userImg {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 44%;
  right: 42%;
  border: 4px solid #ebd8ff;
  border-radius: 50%;
}

.avatarLine::before {
  content: '';
  width: 159px;
  border-bottom: 4px solid #ebd8ff;
  position: absolute;
  left: 0;
  top: 50%;
}
.avatarLine::after {
  content: '';
  width: 160px;
  border-bottom: 4px solid #ebd8ff;
  position: absolute;
  right: 0;
  top: 50%;
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 88px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.userInfoItem {
  color: #ebd8ff;
}
.followBtn {
  width: 196px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  text-transform: uppercase;
  color: #373737;
  font-size: 18px;
  line-height: 22px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
.followBtn:hover {
  transform: scale(1.05);
}
.followingBtn {
  width: 196px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  gap: 6px;
  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  text-transform: uppercase;
  color: #373737;
  font-size: 18px;
  line-height: 22px;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
.followingBtn:hover {
  transform: scale(1.05);
}
